<nav class="mobile-nav fixed-bottom">
  <a class="nav-item" routerLink="/app/home">
    <span class="material-icons">home</span>
    <span class="label">Home</span>
  </a>
  <a class="nav-item" routerLink="/app/recuerdos/nodos">
    <span class="material-icons">auto_awesome</span>
    <span class="label">Mis recuerdos</span>
  </a>
  <a class="nav-item nav-new" routerLink="/app/nuevo/destinatario">
    <span class="new-circle"><span class="material-icons">add</span></span>
    <span class="label">Nuevo</span>
  </a>
  <a class="nav-item" routerLink="/app/chatbot/chat">
    <span class="material-icons">chat_bubble</span>
    <span class="label">Chatbot</span>
  </a>
  <a class="nav-item" routerLink="/app/ajustes">
    <span class="material-icons">settings</span>
    <span class="label">Ajustes</span>
  </a>
</nav>
